<div class="w-full p-3 ml-10 font-bold text-blue-900 hover:text-blue-400">
    <%= link_to "+ Add New User", new_user_path %>
</div>
<table>
    <tr>
        <th class="pl-2 pr-2 text-center"> User ID </th>
        <th class="pl-2 pr-2 text-center"> User email </th>
        <th class="pl-2 pr-2 text-center"> Approved ?</th>
        <th class="pl-2 pr-2 text-center"> Actions</th>
    </tr>

    <% @users.each do |user| %>
        <tr>
            <td class="pl-2 pr-2 text-center"><%= user.id%> </td>
            <td class="pl-2 pr-2 text-center"><%= user.email%> </td>
            <td class="pl-2 pr-2 text-center"><%= user.approved ?  "✓" : "Pending" %> </td>
            <td class="pl-2 pr-2 text-center">
                <% if !user.approved %> 
                    <%= link_to "Approve", approve_user_path(user.id), method: "patch", class:"pl-1 text-blue-500 hover:text-blue-300"%> |
                <% end %>
                <%= link_to "Edit", edit_user_path(user.id), class:"pl-1 text-blue-500 hover:text-blue-300"%> |
                <%= link_to "Destroy", destroy_user_path(user.id), method: "delete", class:"pl-1 text-blue-500 hover:text-blue-300"%>
            </td>
        </tr>
    <% end %>
</table