<table>
    <tr>
        <th class="pl-2 pr-2 text-center">Stock</th>
        <th class="pl-2 pr-2 text-center">Price</th>
        <th class="pl-2 pr-2 text-center">Volume</th>
        <th class="pl-2 pr-2 text-center">Amount</th>
        <th class="pl-2 pr-2 text-center">Action</th>
        <th class="pl-2 pr-2 text-center">DateTime</th>
    </tr>

    <% @transactions.each do |transaction| %>
        <tr>
            <td class="pl-2 pr-2 text-center"><%= transaction.stock %> </td>
            <td class="pl-2 pr-2 text-center">$<%= transaction.price %> </td>
            <td class="pl-2 pr-2 text-center"><%= transaction.volume %> </td>
            <td class="pl-2 pr-2 text-center"><%= "$" +(transaction.volume * transaction.price).round(2).to_s %> </td>
            <td class="pl-2 pr-2 text-center"><%= transaction.method %> </td>
            <td class="pl-2 pr-2 text-center"><%= transaction.created_at %> </td>
        </tr>
    <% end %>
</table