<h1> User Transactions </h1>
<table>
    <tr>
        <th>Stock</th>
        <th>Price</th>
        <th>Volume</th>
        <th>Action</th>
        <th>DateTime</th>
    </tr>

    <% @transactions.each do |transaction| %>
        <tr>
            <td><%= transaction.stock %> </td>
            <td><%= transaction.price %> </td>
            <td><%= transaction.volume %> </td>
            <td><%= transaction.method %> </td>
            <td><%= transaction.created_at %> </td>
        </tr>
    <% end %>
</table