<h1>
  <%=@stock_data%>
</h1>
<%= form_with(model: @transaction) do |form| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transactions.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
        <% @transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="font-bold mt-8 ml-12">
    <%= form.label :stock, "Stock Symbol" %>
    <%= form.select :stock , options_for_select(SYMBOLS, @stock_data), :id => "show_stock"  %>
    <%= link_to "Quote", transactions_path(:stock => ""), :id=>"quote_link"%>
    <%= javascript_pack_tag "show_stock" %>
  </div>
  
  <div class="font-bold mt-8 ml-12">
    <%= form.label :volume, "Volume" %>
    <%= form.number_field :volume%>
  </div>



<% end %>
