<!DOCTYPE html>
<html>
  <head>
    <title>StockApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if admin_signed_in? %>
      <div class="flex">
        <%= link_to "STOCKs Admin", admin_home_path%>
        <%= link_to "All Users", users_all_path%>
        <%= link_to "Transactions", transactions_all_path%>
      </div>
      <%= link_to "Logout Admin", destroy_admin_session_path, method: :delete %>
    <% elsif user_signed_in? %>
      <nav class="w-full flex justify-between">
        <div class="flex">
          <%= link_to "STOCKs", home_path%>
          <%= link_to "Portfolio", stocks_path%>
          <%= link_to "Transactions", transactions_path%>
        </div>
        <div>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        </div>
      </nav>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>

